body{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
}
header{
    text-align: center;
    background-color: rgb(159, 241, 159);
    padding: 1px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px #ccc;
}
.tagline{
    font-size: 16px;
    font-style: italic;
    margin-top: -18px;
    opacity: 0.9;
    font-weight: 400;
    letter-spacing:2.9px ;
}
.instruction{
    margin-top: 15px;
    font-size: 16px;
    color: #000;
}
span{
    font-weight: bold;
    color: grey;
    margin: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
#chat{
    max-width: 700px;
    margin: auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
#messages {
    height: 600px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.message {
    margin-bottom: 25px;
    padding: 5px 12px;
    border-radius: 8px;
    max-width: fit-content;
}

.user {
    text-align: right;
    color: #fff;
    background-color: #007bff;
    margin-left: auto;
    max-width: fit-content;
}

.bot {
    text-align: left;
    color: #fff;
    background-color: #28a745;
    max-width: fit-content;
}
input{
    padding: 18px;
    font-size: 16px;
    width: 80%;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: 0 0 10px #ccc;
}
button{
    padding: 10px;
    font-size: 16px;
    width: 25%;
    background-color: #4caf50;
    color: white;
    border: none;
    margin-left: 5%;
    cursor:pointer;
    margin-top: 15px;
    border-radius: 8px;
}
.typing-indicator {
    color: red;
    font-style: italic;
    padding: 5px;
}

.hidden {
    display: none;
}
.contain{
    display: flex;
}
@media (max-width: 600px) {
    .bot, .user{
        font-size: 15px;
        line-height: 1.5;
    }
    header{
        font-size: 15px;
        padding: 12px;
    }
    #messages {
        height: 900px;
    }
}